PORT=5000
FRONTEND_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/<database>
BREVO_API_KEY=your_brevo_api_key
SENDER_NAME=Geek Room JIMS
SENDER_EMAIL=verified-sender@example.com
ORG_EMAIL=team@example.com
ORG_EMAIL_NAME=Geek Room Team
